/* 
pink #e27ab0
dark theme #1e1e1e #262626 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

* {
    margin: 0;
    padding: 0;
}

*::after, *::before {
    box-sizing: inherit;
} 

body {
    background-color: whitesmoke;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
}

aside {
    width: 25vw;
    height: 100vh;
    background-color: antiquewhite;
}
.top__menu {
    height: 55px;
    background-color: azure;
    display: flex;
    align-items: center;
    padding: 0 .4rem;
}

.hero {
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.ri-search-line {
    font-size: 1.5em;
    color: rgb(100, 100, 100);
}

.search__bar {
    display: flex;
    padding-left: .5em;
    align-items: center;
    height: 40px ;
    flex: 1;
    background-color: rgb(181, 184, 184);
    margin-left: .4rem;
    border-radius: 20px ;
}

.search__bar input {
    margin-left: .3em;
    outline: none;
    font-size: 1rem;
    width: 20em;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}